#about {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
}

/* intro */
#aboutLeft {
    width: 30%;
}

#aboutLeft>h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#aboutLeft img {
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

#aboutLeft p {
    font-family: "noto sans kr", sans-serif;
    margin: 1rem 0.5rem;
    line-height: 1.7rem;
    opacity: 0;
}

/* exp & edu */
#aboutRight {
    width: 60%;
}

#aboutRight>div {
    margin: 4rem;
}

#aboutRight>div:not(:last-child) span:first-of-type {
    padding: 0 1rem;
}

#aboutRight h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
}

#aboutRight li {
    line-height: 3rem;
}

.exp-edu>ul>li>span:first-of-type {
    display: inline-block;
    line-height: 1rem;
    margin-right: 2rem;
}

/* skills */
#aboutRight>div:last-of-type {
    opacity: 0;
}

#skillBox {
    display: flex;
    justify-content: space-around;
}

#skillBox>ul>li>span:first-of-type {
    display: inline-block;
    width: 80px;
}

.skill-bar {
    display: inline-block;
    width: 150px;
    height: 15px;
    background-color: var(--light-green);
}

.skill-fill {
    display: inline-block;
    height: 15px;
    background-color: var(--accent-green);
    vertical-align: top;
    opacity: 0;
}

.bar1 {
    --target-width: 80%
}

.bar2 {
    --target-width: 70%
}

.bar3 {
    --target-width: 70%
}

.bar4 {
    --target-width: 50%
}

.bar5 {
    --target-width: 70%
}

.bar6 {
    --target-width: 80%
}

.bar7 {
    --target-width: 80%
}

.bar8 {
    --target-width: 50%
}

.bar9 {
    --target-width: 60%
}

.bar10 {
    --target-width: 90%
}


#skillBox span {
    line-height: 15px;
}

/* javascript */
.observer-slideUp {
    opacity: 0
}

@media (max-width: 767px) {

    /* mobile */
    #about {
        display: flex;
        flex-direction: column;
    }

    #aboutLeft {
        width: 100%;
    }

    #aboutRight {
        width: 100%;
    }

    #aboutRight>div {
        margin: 4rem 0;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    #aboutRight>div {
        margin: 4rem 0;
    }
}