#contact{
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    font-size: 1.5rem;
    align-items: center;
    font-weight: 400;
}
#contact>h2>span{
    font-size: 5rem;
    font-weight: 300;
}
#contact>ul span:first-of-type{
    display: inline-block;
    width: 100px;
    color: var(--accent-green);
}
#contact>ul a{
    padding:0 5px;
    color: var(--white);
    background-color: var(--accent-green);

}
#lottieSend{
    min-width: 50%;
}
#footer>p{
    line-height: 2rem;
}