#contact {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    font-size: 1.5rem;
    align-items: center;
    font-weight: 400;
}

#contact>h2 {
    margin-top: 3rem;
}

#contact>h2>span {
    display: inline-block;
    font-size: 4rem;
    font-weight: 300;
}

/* "Contact" text animation */
/* c */
#contact>h2>span:first-of-type {
    opacity: 0;
    animation: slideInFromLeft 1.2s ease forwards, fadeIn 1.2s ease forwards;
}

/* o */
#contact>h2>span:nth-of-type(2) {
    opacity: 0;
    animation: slideUp 1.3s ease forwards, fadeIn 1.3s ease forwards;
}

/* n */
#contact>h2>span:nth-of-type(3) {
    opacity: 0;
    animation: slideUp 1s 0.5s ease forwards, fadeIn 1s 0.5s ease forwards;
}

/* t */
#contact>h2>span:nth-of-type(4) {
    opacity: 0;
    animation: slideDown 1s 0.3s ease forwards, fadeIn 1s 0.3s ease forwards;
}

/* a */
#contact>h2>span:nth-of-type(5) {
    opacity: 0;
    animation: slideDown 1s ease forwards, fadeIn 1s ease forwards;
}

/* c */
#contact>h2>span:nth-of-type(6) {
    opacity: 0;
    animation: slideInFromRight 1.7s ease forwards, fadeIn 1.7s ease forwards;
}

/* t */
#contact>h2>span:last-of-type {
    opacity: 0;
    animation: slideInFromRight 2s ease forwards, fadeIn 2s ease forwards;
}

#contact>ul {
    animation: fadeIn 1s ease forwards;
}

#contact>ul span:first-of-type {
    display: inline-block;
    width: 100px;
    color: var(--accent-green);
}

#contact>ul a {
    padding: 0 5px;
    color: var(--white);
    background-color: var(--accent-green);

}

#lottieSend {
    min-width: 50%;
    opacity: 0;
    animation: fadeIn 1s 0.5s ease forwards;
}