/* section title */
#mainTitle{
    font-family: "sedgwick ave", cursive;
    font-size: 4rem;
    letter-spacing: 0.5vw;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

#mainTitle span{
    text-align: center;
    display: block;
    margin: 2rem;
}

/* main lottie */
#lottieContainer{
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.indexLottie{
    width: 15vw;
    height: 15vw;
}
