:root {
    /* colors */
    --text-color: #1e1e1e;
    --background-color: #f4f4f4;
    --accent-color: #84c394;

    /* font size */
    --font-regular: 1.2rem;
    --font-title: 1.5rem;
    --font-large: 2rem;
    --font-section: 3rem;

}

body {
    background-color: var(--text-color);
    font-family: "jost", sans-serif;
    color: var(--text-color);
}

#wrap {
    background-color: var(--background-color);
    width: 1400px;
    margin: 50px auto 50px auto;
}

a {
    color: var(--text-color);
}

/* ------nav-------- */
#nav {
    background-color: var(--accent-color);
    z-index: 10;
    width: 1400px;
}

.fixed-nav {
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#nav>ul {
    border-bottom: 1px solid var(--text-color);
}

/* nav 버튼 */
#nav>ul>li>a {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    transition: 0.2s ease;
    padding: 10px 40px;
}

#nav>ul>li>a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

#nav li:last-child {
    float: right;
}

#nav>ul>li {
    display: inline-block;
    animation: slideDown 0.5s;
}

#nav h1 {
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: var(--font-title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* --------header----------- */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 800px;
}

#headerLogo {
    font-family: 'sedgwick ave';
    font-size: var(--font-section);
    line-height: 4rem;
    animation: slideDown 1s;
}

#headerIcons>ul {
    display: flex;
    justify-content: center;
    animation: slideUp 1s;
}

#headerIcons>ul>li>img {
    padding-top: 20px;
    height: 80px;
}

/* 아이콘 간격조정 */
#headerIcons ul>li:nth-of-type(2) {
    margin-left: 20px;
}

#headerIcons::after {
    content: "V";
    font-size: 3rem;
    position: absolute;
    top: 700px;
    left: 49%;
    transform: translateX(50%);
    animation: arrowUpDown 2s infinite;
}

/* section애니메이션 */
section {
    opacity: 0;
    transition: all 2s;
}


/* ---------------section 'About'---------- */
#sectionAbout {
    height: 1000px;
    animation: slideRight 1s ease-out forwards;
}

/* 검은 띠 배경 */
#sectionAbout>div:first-of-type {
    background-color: var(--text-color);
    padding: 50px;
}

#sectionAbout>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

@keyframes sectionTitleAni {
    from {
        text-indent: -900px;
    }

    to {
        text-indent: 0;
    }
}

.sectionTitleAni {
    animation: sectionTitleAni 1s ease forwards;
}


.section-title {
    font-size: 3rem;
    color: var(--text-color);
    line-height: 150px;
    padding-left: 10%;
    border-top: 1px solid var(--text-color);
}

#sectionAbout .container>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* circle */
#about_circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    position: relative;
}

/* circle information */
#about_circle>ul {
    border-left: 1px solid var(--text-color);
    position: absolute;
    transform: translateX(25%) translateY(45%);
    animation: sectionTitleAni 1.2s ease forwards;

}

#about_circle>ul>li {
    margin: 20px;
}

#about_circle>ul>li>span {
    display: block;
    margin: 5px;
}

#about_circle>ul>li>span:first-of-type {
    font-size: 1.5rem;
}

/* skills 제목*/
#skills>h3 {
    color: var(--background-color);
    font-size: 1.5rem;
    border-bottom: 1px solid var(--background-color);
    margin-bottom: 20px;
}

#skills ul>li {
    display: flex;
}

/* 스킬바 */
.skill_bar {
    height: 15px;
    width: 200px;
    transform: skewX(-30deg);
    margin: 15px 0 15px 0;
    background-color: var(--background-color);
}

/* skillbar 채워짐 */
.skill_fill {
    display: block;
    height: 100%;
    width: 0;
}

.skillAni {
    background-color: var(--accent-color);
    animation: fillAni 1s forwards;
}

/* 스킬 아이콘 */
#skills ul>li>img {
    width: 40px;
    margin: 5px -5px 5px 0;
    z-index: 1;
    border: 1px solid var(--background-color);
    border-radius: 10px;
}

/* 상단이동 버튼 */
#toTop {
    z-index: 90;
    display: none;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;

    width: 60px;
    height: 60px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 3rem;
    line-height: 60px;
    text-align: center;
}

#toTop:hover {
    background-color: var(--accent-color);
    transition: 0.3s ease;
}

#toTop::after {
    content: "↑"
}

;

/* ------------section 'Works'------------------- */

#section_works h2 {
    width: 40%;
    border-bottom: 1px solid var(--text-color);
    margin-top: 100px;
}

.site {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

/* 사이트 이미지 크기 */
.site>a>img {
    width: 500px;
    display: block;
    opacity: 0;
    box-shadow: 2px 2px 2px #8b8c8c;
    transition: width 0.3s ease;
}

.site>a>img:hover {
    width: 502px;
    /* transform: scale(101%); */
    box-shadow: 5px 5px 10px #8b8c8c;
}

/* 사이트 바로가기와 정보 */
.site-box {
    width: 500px;
    border: 1px solid var(--text-color);
    opacity: 0;
}

.site-box>div {
    height: 50px;
    background-color: var(--text-color);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-box>div>span {
    color: var(--background-color);
    font-size: var(--font-large);
}

.site-info {
    padding: 30px;
    line-height: var(--font-title);
}

.site-info>li:first-child {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: var(--font-regular)
}

.site-info>li:nth-child(2) {
    padding-bottom: var(--font-regular);
}

.site-info span:first-of-type {
    font-weight: bold;
}

.site-info ul>li {
    display: flex;
    justify-content: left;
}

.site-info ul li span:first-of-type {
    width: 100px;
}

/* 사이트 바로가기 나타나는 애니메이션 */
.siteboxAni {
    animation: siteboxAni 1s ease forwards;
}

@keyframes siteboxAni {
    from {
        transform: translatex(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.siteImageAni {
    animation: siteImageAni 1s ease forwards;
}

@keyframes siteImageAni {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* --------------------design works */
#designWorks {
    background-color: var(--text-color);
}

#designWorks>div {
    width: 70%;
    height: 70%;
    padding: 5rem;
    margin: 0 auto;
    box-sizing: border-box;

    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
        "swimX burger burger shokz"
        "swimX tour tour shokz"
        "swimX tour tour shokz"
        "swimX lotus1 lotus2 kissing"
        "swim lotus1 lotus2 kissing"
}

#designWorks>div>a:nth-of-type(1) {
    grid-area: swimX;
}

#designWorks>div>a:nth-of-type(2) {
    grid-area: swim;
}

#designWorks>div>a:nth-of-type(3) {
    grid-area: burger;
}

#designWorks>div>a:nth-of-type(4) {
    grid-area: tour;
}

#designWorks>div>a:nth-of-type(5) {
    grid-area: shokz;
}

#designWorks>div>a:nth-of-type(6) {
    grid-area: lotus1;
}

#designWorks>div>a:nth-of-type(7) {
    grid-area: lotus2;
}

#designWorks>div>a:nth-of-type(8) {
    grid-area: kissing;
}

#designWorks>div>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.2s ease;
}

#designWorks img:hover {
    cursor: pointer;
    filter: grayscale(0);
    transform: scale(101%);
}

/* 모달창 */
#modal {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:999;
    display: none;
}
/* 모달 속 이미지 */
#modal>div>img{
    max-width: 90vw;
    max-height: 80vh;
    box-shadow: 5px 5px 5px var(--text-color);
}
#modal>button {
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--background-color);
    box-shadow: 5px 5px 5px var(--text-color);
    font-size: 1.5rem;
}
#modal>button:hover {
    box-shadow: inset 3px 3px 0 #4b7b57,5px 5px 5px var(--text-color);
    background-color: #6da07a;
    transition: all 0.2s;
}
/* 모달 외부화면 블러 */
.filter-blur {
    filter: blur(3px);
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}


/* ---------contact */
#sectionContact {
    background-image: url(../images/mike-castro-demaria-vEnB66L4cnQ-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectionContact h2 {
    text-align: center;
    font-size: 3rem;
    color: var(--text-color);
    line-height: 150px;
}

#contactCard {
    margin: 0 auto;
    border: 1px solid var(--text-color);
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

.contactCardAni {
    animation: contactCardAni 1s ease forwards;
}

@keyframes contactCardAni {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#contactCard span {
    display: block;
    line-height: 2rem;
    font-size: 1.5rem;
    padding-right: 40px;
}

#contactCard img {
    height: 90px;
    padding: 30px;
    background-color: var(--text-color);
    display: block;
}

/* footer */
#footer {
    height: 200px;
    background-color: var(--text-color);
    text-align: center;
    font-size: 1.8rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

#footer p {
    margin: 0 auto;
    color: var(--accent-color);
}

/* 화살표 움직임 */
@keyframes arrowUpDown {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fillAni {
    from {
        width: 0;
    }
}

/* @media screen and (min-width: 770px) and (max-width: 1599px) {

    #wrap {
        width: 1200px;
    }

    #nav {
        width: 1200px;
    }
} */

@media screen and (max-width:768px){
    #wrap{
        width: 100%;
        margin: 0 auto;
    }
    #nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #nav > h1{
        position: static;
        display: block;
    }
    #nav > ul{
        display: flex;
        flex-direction: column;
    }
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cbfdd2;
}

::-webkit-scrollbar-track {
    background-color: var(--text-color);
}