/* ----------slider */
#slider {
    overflow: hidden;
    width: 1280px;
    margin: 0 auto;
}

#sliderWrap {
    display: flex;
    background-color: 1px solid black;
}

#sliderWrap>img {
    max-width: 1280px;
}

/* -----------manggom news */
#wrap {
    animation: pageLoad 1s forwards;
}
@keyframes pageLoad {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


#manggomNews {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white-color);
    width: 80%;
    text-align: center;
    border-radius: 20px;
    position: relative;
}
#manggomNews.on::after{
    content: "";
    background-image: url("../images/deco/manggom_righthand.png");
    background-size: cover;
    position: absolute;
    top:-160px;
    left: 70%;
    width: 200px;
    height: 170px;
    z-index: -1;
    animation: moveUp 2s forwards, newsManggom ease-in-out 1s alternate infinite;
}
@keyframes moveUp {
    from{
        transform: translateY(90%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes newsManggom {
    from{
        transform-origin: left bottom;
    }
    to{
        transform: rotate(-3deg);
        transform-origin: left bottom;
    }
}
/* news logo */
#manggomNews>h2 {
    display: inline-block;
    color: var(--white-color);
    padding: 40px;
    font-size: 2rem;
    font-weight: bold;
    border: 20px double var(--white-color);
    background-color: var(--font-blue);
    border-radius: 50%;

    position: absolute;
    transform: translate(-50%,-50%);
}

#newsWrap {
    display: flex;
    justify-content: space-evenly;

    opacity: 0;
    transform: scale(1.2);
    transition: all 0.8s;
}
#newsWrap > div{
    flex-basis: 300px;
    margin: 100px 0 50px 0;
}
/* news image */
#newsWrap>div>img {
    width: 100%;
}
#newsWrap > div>p{
    height: 200px;
    width: 100%;
    margin: 10px;
    color: var(--black-color);
    line-height: 1.5rem;
    font-size: 1.2rem;
    
}
#newsWrap>div>p>span {
    display: block;
}
/* news title */
#newsWrap>div>p>span:first-of-type{
    font-weight: bold;
    margin-bottom: 20px;
}
/* news content */
#newsWrap>div>p>span:nth-of-type(2){
    text-align: left;
    line-height: 1.6rem;
}
/* publish time */
#newsWrap>div>p>span:last-of-type {
    text-align: left;
    font-size: 1.2rem;
    margin-top: 10px;
}
/* read more button*/
#newsWrap>div>a {
    display: block;
    font-size: 1.3rem;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--pink-color);
    border-color: var(--black-color);
}