@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --blue-color: #00007c;
    --gold-color: #ccae81;
    --white-color: #fdfdfd;
    --black-color: #181818;
    --gray-color: #d7d7d7;

    /* font size */
    --font-title-large: 4rem;
    --font-title-regular: 2rem;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: #c3c3c3;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gold-color);
}

body {
    font-family: "roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--white-color);
    color: var(--black-color);
}

a {
    color: var(--black-color);
}

#nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    z-index: 100;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#nav.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100vw;
}

#nav>ul {
    opacity: 0;
    animation: navMenu 1s forwards;
    display: flex;
}

#nav>a:last-of-type {
    display: none;
}

@keyframes navMenu {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* nav logo */
#nav>a>img {
    width: 150px;
    transform: translateX(0);
    animation: logo 1s;
}

@keyframes logo {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#nav>ul:first-of-type>li {
    border-bottom: 3px solid transparent;
    padding: 5px;
    margin: 20px;
}

#nav>ul:first-of-type>li:hover {
    border-bottom: 3px solid var(--gold-color);
    transition: 0.3s;
}

/* nav menu */
#nav>ul:first-of-type>li>a {
    color: var(--white-color);
    padding: 20px 0;
}

/* nav sns icon menu */
#nav>ul:last-of-type>li>a {
    padding: 5px;
}

#nav>ul:last-of-type>li>a>img {
    width: 25px;
}

/* scroll to top button */
#scrollToTop {
    flex-direction: column;
    position: fixed;
    bottom: 80px;
    right: 20px;

    background: url("../images/necklace_scrolltotop_01.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center bottom;
    border: none;

    width: 60px;
    height: 70px;
    opacity: 0;
    transition: all 0.6s;
    z-index: 100;
}

#scrollToTop>span {
    display: block;
    width: 50px;
}

#scrollToTop:hover {
    cursor: pointer;
}

/* footer */
#footer {
    background-color: var(--blue-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#footer>ul {
    display: flex;
}

#footer>span {
    font-size: 1.2rem;
}

#footer>ul>li>a>img {
    width: 30px;
    margin-right: 10px;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    #nav {
        padding: 15px 0;
        letter-spacing: 0;
        font-size: 1rem;
    }
}



@media screen and (max-width: 767px) {
    html {
        font-size: 13px;
    }

    #nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav.active {
        background-color: rgba(0, 0, 0, 0.8);
    }

    #nav>a:first-of-type {
        padding-left: 5%;
    }

    #nav>a>img {
        width: 100px;
        transform: translateX(0);
        animation: logo 1s;
    }

    #nav>ul:first-of-type {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 95%;
    }

    #nav>ul:last-of-type {
        display: none;
        justify-content: end;
        width: 95%;
        margin: 30px 0;
    }

    #nav>ul:first-of-type.active,
    #nav>ul:last-of-type.active {
        display: flex;
    }

    #nav>a:last-of-type {
        display: block;
        position: absolute;
        top: 20px;
        right: 5%;
    }

    #nav>a:last-of-type>img {
        width: 20px;
    }

    #footer>span {
        font-size: 1rem;
    }

    #footer>ul>li>a>img {
        width: 20px;
    }

}